* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
}


#home {
    width: 100%;
    height: 100vh;
    background: url(/static/Images/Website_Header.png) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phonemenu{
    display: block;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    background: url(/static/Images/RedBlue_Background.jpg) center/cover;
    width: 100%;
    border-bottom: 2px solid #fff;

}

.logo {
    width: 90px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fd3c3c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    font-size: 30px;
    text-align: center;
}

.header-text h1 {
    font-size: 100px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #fd3c3c;
}

.header-text h1 .blue {
    color: #01dfff;
}

/*--------------about-----------*/

#about {
    padding: 60px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1, .about-col-2 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #01dfff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    font-size: 18px;
}

.tab-contents ul li:nth-child(odd) span {
    color: #fd3c3c;
}

.tab-contents ul li:nth-child(even) span {
    color: #01dfff;
}

.tab-contents {
    display: none;
    font-size: 16px;
}

.tab-contents.active-tab {
    display: block;
}

/*portfolio*/

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    color: inherit;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 191, 255, 0.5), #fd3c3c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 clamp(20px, 5vw, 40px);
    text-align: center;
    font-size: clamp(12px, 2vw, 8px);
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: clamp(16px, 3vw, 20px);
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-link:hover .work {
    transform: translateY(-10px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fd3c3c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

/*socials*/

#socials {
    padding: 50px 0;
}

.socials-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.social-box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: block;
    color: inherit;
}

.social-box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: opacity 0.5s;
    opacity: 0;
}

.social-box:nth-child(odd) .layer2 {
    background: url('Social_Icons/Red.png') center/cover;
}

.social-box:nth-child(even) .layer2 {
    background: url('Social_Icons/Blue.png') center/cover;
}

.layer2 h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.layer2 p,
.layer2 span {
    display: none;
}

.social-box:nth-child(odd) .layer2 span {
    font-weight: 500;
    margin-bottom: 20px;
    color: #fd3c3c;
    font-size: 15px;
}

.social-box:nth-child(even) .layer2 span {
    font-weight: 500;
    margin-bottom: 20px;
    color: #01dfff;
    font-size: 15px;
}

.social-box:hover img {
    transform: scale(1.2);
}

.social-box:hover .layer2 {
    opacity: 0;
}

/* .social-box:hover {
     transform: translateY(-10px);
} */

/*contact*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    color: #01dfff;
}

.btn.btn2 {
    display: inline-block;
    background: #fd3c3c;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: url('Images/RedBlue_Background.jpg') center/cover no-repeat;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

@media only screen and (min-width: 801px) {
    #phonemenu {
        display: flex; /* Ensure menu items are displayed as flex items */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }

    .logo {
        display: block; /* Show the logo */
    }

    nav .click img {
        display: none; /* Hide the open/close buttons */
    }
}

/*css for small screens*/
@media only screen and (max-width: 800px) {
    #home {
        background: url(Images/Website_Header.png) center/cover;
        height: 60vh;
        text-align: center; /* Center text */ 
    }

    .logo{
        display: none;
    }
    
    #phonemenu{
        display: none; 
        text-align: center; /* Center text */
    }

    #phonemenu img {
        display: block; /* Make the image a block element */
        margin: 0 auto; /* Center the image horizontally */
    }

    nav .click img{
        display: block;
        font-size: 25px;
        width: 90px;
        position: relative;
        cursor: pointer;  
    }

    nav ul li{
        display: relative;
        margin: 8px;
        align-items: center;
        justify-content: center;    
    }

    .header-text {
        margin-top: 25vh;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2, .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .socials-list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 20px;
    }

    .social-box {
        padding: 10px;
    }

    .social-box img {
        width: 80%;
        margin: 0 auto;
    }

    .layer2 {
        opacity: 0;
    }

    .social-box:hover .layer2 {
        opacity: 0;
    }

    .layer2 h2 {
        font-size: 18px;
    }

    .layer2 span {
        font-size: 12px;
    }

}
